# MongoDB Database Connection
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.dnihrth.mongodb.net/ecommerce?appName=Cluster0"

# Application Settings
NEXT_PUBLIC_APP_NAME="Active eCommerce"
NEXT_PUBLIC_SITE_MOTTO="Complete Shopping Solution"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CURRENCY_SYMBOL="৳"
NEXT_PUBLIC_CURRENCY_CODE="BDT"
NEXT_PUBLIC_HELPLINE="+880 1700-000000"
